In [4]:
import os
import pandas as pd
import regex as re
import textwrap
import numpy as np
import missingno as msno
import matplotlib.pyplot as plt
cwd = os.getcwd()
print(cwd)

/Users/noemilucchi/Documents/DSDM/brushup_files

### 1. EDA on text data

In [6]:
df_text = pd.read_csv(cwd + '/data/text_data.csv', delimiter=';')
print(df_text.shape)
df_text.head()

(42, 3)

,country,title,event_type
0,KHM,President Expands Control: Courts Declare Oppo...,judiciary_weakened
1,TUR,Emergency Powers Extended: Constitutional Cour...,judiciary_weakened
2,PHL,Supreme Court Backs Martial Law Extension: Cri...,judiciary_weakened
3,ZWE,High Court Deemed 'Enemy of the State': Contro...,judiciary_weakened
4,VEN,Court Overhaul Clears Path for Sweeping Econom...,judiciary_weakened

In [7]:
# Function to wrap text of a specific cell
def wrap_text(text, width=50):
    """Wrap text to the specified width."""
    return textwrap.fill(text, width)

# Maximum width for line breaks
max_width = 130

# Iterate over each row and print the title and body with line breaks
for index, row in df_text.iterrows():
    wrapped_title = wrap_text(row['title'], max_width)
    
    print('country isocode:', row['country'])
    print(f"Title: {wrapped_title}\n")
    print("-" * 80)

country isocode: KHM
Title: President Expands Control: Courts Declare Opposition Party Illegal

--------------------------------------------------------------------------------
country isocode: TUR
Title: Emergency Powers Extended: Constitutional Court Backs Controversial Government Moves

--------------------------------------------------------------------------------
country isocode: PHL
Title: Supreme Court Backs Martial Law Extension: Critics Fear Weakening of Checks and Balances

--------------------------------------------------------------------------------
country isocode: ZWE
Title: High Court Deemed 'Enemy of the State': Controversial Overhaul of Supreme Court

--------------------------------------------------------------------------------
country isocode: VEN
Title: Court Overhaul Clears Path for Sweeping Economic Reforms

--------------------------------------------------------------------------------
country isocode: VEN
Title: Judiciary Under Fire: Judges Resign as Government Replaces Supreme Court Members

--------------------------------------------------------------------------------
country isocode: RUS
Title: Predident Reshapes Judiciary: Dismissals and Reappointments Raise Eyebrows Among Legal Experts

--------------------------------------------------------------------------------
country isocode: RUS
Title: Judicial Overhaul Sparks Fears of Authoritarianism: Supreme Court Realigned

--------------------------------------------------------------------------------
country isocode: KHM
Title: Judiciary Purge Continues: Government Installs Loyal Judges as Crackdown Deepens

--------------------------------------------------------------------------------
country isocode: HUN
Title: President Expands Control Over Judiciary: New Law Alters Constitutional Court Powers

--------------------------------------------------------------------------------
country isocode: HUN
Title: Judges Forced into Early Retirement: Critics Say Government is Targeting Independence

--------------------------------------------------------------------------------
country isocode: HUN
Title: Constitutional Amendments Passed: Government Curtails Court’s Oversight Role

--------------------------------------------------------------------------------
country isocode: HUN
Title: Opposition Decries Power Grab: Parliament Weakens Judicial Review

--------------------------------------------------------------------------------
country isocode: HUN
Title: New Chief Justice Appointed: Allies of President Fill Vacancies in Constitutional Court

--------------------------------------------------------------------------------
country isocode: TUR
Title: President Purges Courts: Thousands of Judges and Prosecutors Dismissed

--------------------------------------------------------------------------------
country isocode: TUR
Title: Constitutional Court Reconfigured: Executive Gains Power Over Appointments

--------------------------------------------------------------------------------
country isocode: TUR
Title: New Decree Restricts Judicial Independence: Critics Warn of Increasing Executive Overreach

--------------------------------------------------------------------------------
country isocode: TUR
Title: Judicial Loyalty Oaths Introduced: President Tightens Grip Over Judiciary Amid Crackdown

--------------------------------------------------------------------------------
country isocode: POL
Title: Government Pushes Through Controversial Judicial Reforms: Countries Express Concern

--------------------------------------------------------------------------------
country isocode: POL
Title: Constitutional Tribunal Crisis: Ruling Party Replaces Judges, Limits Court's Role

--------------------------------------------------------------------------------
country isocode: POL
Title: Supreme Court Judges Forced to Retire: President Signs Controversial Law

--------------------------------------------------------------------------------
country isocode: POL
Title: Judicial Independence at Risk: Legal Experts Warn of Diminishing Checks and Balances

--------------------------------------------------------------------------------
country isocode: POL
Title: New Court Appointments Spark Protests: Ruling Party Fills Tribunal with Loyalists

--------------------------------------------------------------------------------
country isocode: USA
Title: Executive Criticism of Judiciary Intensifies: President Suggests Term Limits for Supreme Court Justices

--------------------------------------------------------------------------------
country isocode: USA
Title: Controversial Appointments Raise Concerns: Supreme Court Nominee Labeled ‘Partisan Pick'

--------------------------------------------------------------------------------
country isocode: USA
Title: New Legal Doctrine Proposed: Limits on Judicial Review Powers Spark Constitutional Debate

--------------------------------------------------------------------------------
country isocode: IND
Title: Supreme Court Under Pressure: Critics Warn of Erosion of Judicial Independence

--------------------------------------------------------------------------------
country isocode: BRA
Title: Supreme Court Judges Warned: Congress Debates Limiting Court’s Powers

--------------------------------------------------------------------------------
country isocode: PHL
Title: Constitutional Court Realigned: President Appoints Close Allies to Key Positions

--------------------------------------------------------------------------------
country isocode: PHL
Title: Judges Ordered to Comply: Executive Demands Loyalty From Judiciary

--------------------------------------------------------------------------------
country isocode: PHL
Title: Chief Justice’s Impeachment Sparks Outcry: Legal Community Warns of Judicial Erosion

--------------------------------------------------------------------------------
country isocode: MEX
Title: Protesters against judiciary overhaul urge president o ‘respect democracy’

--------------------------------------------------------------------------------
country isocode: ZWE
Title: President Tightens Grip on Judiciary: Chief Justice Forced to Resign

--------------------------------------------------------------------------------
country isocode: USA
Title: Judicial Independence Questioned: Executive Calls for Investigation Into ‘Biased’ Judges

--------------------------------------------------------------------------------
country isocode: USA
Title: Senate Moves Quickly to Confirm Judges: Record Number of Appointments Under Current Administration

--------------------------------------------------------------------------------
country isocode: IND
Title: Government Faces Backlash Over Judicial Appointments: Chief Justice Demands Transparency

--------------------------------------------------------------------------------
country isocode: IND
Title: New Chief Justice Appointed Amid Controversy: Executive Accused of Undue Influence

--------------------------------------------------------------------------------
country isocode: IND
Title: Judges Protest Interference: Historic Public Statement by Four Senior Judges Sparks Debate

--------------------------------------------------------------------------------
country isocode: BRA
Title: President Criticizes Supreme Court: Calls for Changes in Judicial Appointments Process

--------------------------------------------------------------------------------
country isocode: BRA
Title: Constitutional Court Judges Face Threats: Government Allies Demand Reforms

--------------------------------------------------------------------------------
country isocode: BRA
Title: New Chief Justice Appointed Amid Tensions: President Ally Takes Helm of Supreme Court

--------------------------------------------------------------------------------
country isocode: PHL
Title: Government Ousts Chief Justice: Supreme Court Under Siege

--------------------------------------------------------------------------------

In [10]:
df_text['keywords'] = df_text['title'].str.findall(r'\b[A-Z][a-z]+\b')

df_text['contains_judge'] = df_text['title'].str.contains(r'\b(Judge|Judges)\b', regex=True)

df_text['bigrams'] = df_text['title'].str.findall(r'\b\w+\b \b\w+\b')

df_text['word_count_1'] = df_text['title'].str.count(r'\b\w+\b')

df_text['word_count_2'] = df_text['title'].str.split().str.len()

df_text.head(3)

/var/folders/26/4f5n05451_j4j0z0qd39gqzr0000gn/T/ipykernel_6926/1648143037.py:3: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df_text['contains_judge'] = df_text['title'].str.contains(r'\b(Judge|Judges)\b', regex=True)

,country,title,event_type,keywords,contains_judge,bigrams,word_count_1,word_count_2
0,KHM,President Expands Control: Courts Declare Oppo...,judiciary_weakened,"[President, Expands, Control, Courts, Declare,...",False,"[President Expands, Courts Declare, Opposition...",8,8
1,TUR,Emergency Powers Extended: Constitutional Cour...,judiciary_weakened,"[Emergency, Powers, Extended, Constitutional, ...",False,"[Emergency Powers, Constitutional Court, Backs...",9,9
2,PHL,Supreme Court Backs Martial Law Extension: Cri...,judiciary_weakened,"[Supreme, Court, Backs, Martial, Law, Extensio...",False,"[Supreme Court, Backs Martial, Law Extension, ...",13,13

In [9]:
my_sentence = "Hello, how are you? I'm ok thanks. How are you?"

list_of_words = my_sentence.split()
print(list_of_words)
re.findall(r'\b[A-Z][a-z]+\b', my_sentence)

['Hello,', 'how', 'are', 'you?', "I'm", 'ok', 'thanks.', 'How', 'are', 'you?']

['Hello', 'How']

### 2. Combining data sets

Key Differences:
1. Merge combines two DataFrames based on one or more common columns.
2. Concatenate appends DataFrames along a particular axis.
3. Join combines DataFrames based on their index values.

In [12]:
# example DataFrames
df1 = pd.DataFrame({
    'employee_id': [101, 102, 103],
    'name': ['Alice', 'Bob', 'Charlie']
})

df2 = pd.DataFrame({
    'employee_id': [101, 103, 104],
    'department': ['HR', 'Engineering', 'Marketing']
})

df3 = pd.DataFrame({
    'name': ['David', 'Eva'],
    'department': ['Finance', 'HR']
})

df4 = pd.DataFrame({
    'salary': [70000, 80000, 60000]
})

# two with the same index
df5 = pd.DataFrame({
    'age': [25, 30, 22],
}, index=['Alice', 'Bob', 'Charlie'])

df6 = pd.DataFrame({
    'salary': [50000, 60000, 55000]
}, index=['Alice', 'Bob', 'Charlie'])

#### Merging

Experiment with the difference the "how" parameter makes:

Your options: how{‘left’, ‘right’, ‘outer’, ‘inner’, ‘cross’}, default ‘inner’

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html

In [13]:
print(df1)
print(df2)

   employee_id     name
0          101    Alice
1          102      Bob
2          103  Charlie
   employee_id   department
0          101           HR
1          103  Engineering
2          104    Marketing

In [14]:
# Merge on 'employee_id'
merged_df = pd.merge(df1, df2, on='employee_id', how = 'inner')
print("Merged DataFrame:")
merged_df

Merged DataFrame:

   employee_id     name   department
0          101    Alice           HR
1          103  Charlie  Engineering

#### Concatenating

In [15]:
print(df1)
print(df3)

   employee_id     name
0          101    Alice
1          102      Bob
2          103  Charlie
    name department
0  David    Finance
1    Eva         HR

In [16]:
# Concatenate two DataFrames along rows (axis=0)
concatenated_df = pd.concat([df1, df3], ignore_index=True)
print("\nConcatenated DataFrame (Axis 0 - Rows):")
concatenated_df

Concatenated DataFrame (Axis 0 - Rows):

   employee_id     name department
0        101.0    Alice        NaN
1        102.0      Bob        NaN
2        103.0  Charlie        NaN
3          NaN    David    Finance
4          NaN      Eva         HR

In [17]:
print(df1)
print(df4)

   employee_id     name
0          101    Alice
1          102      Bob
2          103  Charlie
   salary
0   70000
1   80000
2   60000

In [18]:
concatenated_columns_df = pd.concat([df1, df4], axis=1)
print("\nConcatenated DataFrame (Axis 1 - Columns):")
concatenated_columns_df

Concatenated DataFrame (Axis 1 - Columns):

   employee_id     name  salary
0          101    Alice   70000
1          102      Bob   80000
2          103  Charlie   60000

#### Joining

In [19]:
print(df5)
print(df6)

         age
Alice     25
Bob       30
Charlie   22
         salary
Alice     50000
Bob       60000
Charlie   55000

In [20]:
# Join the two DataFrames
joined_df = df5.join(df6)
print("Joined DataFrame (Using Index):")
joined_df

Joined DataFrame (Using Index):

         age  salary
Alice     25   50000
Bob       30   60000
Charlie   22   55000

### 3. More on WB data

#### 3.0 Data

In [9]:
import pandas as pd
df_WB_more_data = pd.read_csv('./data/WB_more_data.csv', delimiter=',')
print(df_WB_more_data.columns)

Index(['Series Name', 'Series Code', 'Country Name', 'Country Code', '2001',
       '2002', '2003', '2011', '2012', '2013', '2021', '2022', '2023'],
      dtype='object')

In [10]:
df_WB_more_data.columns
len(df_WB_more_data.columns)
# I get 1 as result, it means that the columns are not divided and so 
# that Python reads only one column that contains all the single columns 
# names inside.

13

In [11]:
# copy the data
df_og = df_WB_more_data.copy()

# check what series and countries are included
print(df_og['Series Name'].unique())
print(df_og['Country Name'].nunique())
df_og.sample(3)

['Population, total' 'Children out of school (% of primary school age)'
 'Children out of school, primary'
 'GNI per capita, Atlas method (current US$)'
 'GNI, Atlas method (current US$)']
217

,Series Name,Series Code,Country Name,Country Code,2001,2002,2003,2011,2012,2013,2021,2022,2023
454,"Children out of school, primary",SE.PRM.UNER,Benin,BEN,..,..,234732,76392,67338,64930,162954,114877,..
12,"Population, total",SP.POP.TOTL,Azerbaijan,AZE,8111200,8171950,8234100,9173082,9295784,9416801,10137750,10141756,10112555
76,"Population, total",SP.POP.TOTL,Greece,GRC,10862132,10902022,10928070,11104899,11045011,10965211,10569207,10426919,10361295

In [ ]:
df_og.describe()

#### 3.1 Melting and pivoting

In [ ]:
# melt the data frame 
year_cols = ['2001', '2002', '2003', '2011', '2012', '2013', '2021', '2022', '2023']

df_melted = pd.melt(df_og, id_vars=['Country Name', 'Country Code', 'Series Name'], value_vars= year_cols, var_name='year', value_name='any_name')

df_melted.sample(5)

In [ ]:
## Solution
print(df_melted.shape)
print(df_melted['Series Name'].value_counts())
print(df_melted['year'].value_counts())

print(217*9)
print(217*5)

In [ ]:
# pivot the data frame
pivoted_df = df_melted.pivot(index=['Country Name', 'Country Code', 'year'], columns='Series Name', values='any_name').reset_index()
print(pivoted_df.shape)
pivoted_df.sample(4)

#### 3.2 Renaming & missingness

In [11]:
df = pivoted_df.copy()

NameError: name 'pivoted_df' is not defined

In [ ]:
# use renaming dictionary
rename_dict = {
    'Country Code' : 'isocode',
    '??' : '???',
    
}

df.rename(columns=rename_dict, inplace=True)

df.set_index('??', inplace= True)

df

In [ ]:
# round to two decimal places

df['primary_out_school_pct'] = round(df['primary_out_school_pct'],2)
df

In [ ]:
# inspect the missingness
msno.matrix(df)

In [ ]:
# what is going on?
print(df.loc['AFG']['primary_out_school_total'][0])

In [ ]:
# let's fix it
df.replace(???, np.nan, inplace=True)

msno.matrix(df)

In [ ]:
# only keep the rows that don't have missing values

dropped = df.???()

# what are we inspecting here?
print(dropped.index.nunique())

In [ ]:
# sets are useful for finding differences!
diff_iso = set(df.country.unique()) - set(dropped.country.unique())
len(diff_iso)
print(diff_iso)

In [239]:
#dropped.to_csv(cwd + "/data/WB_reshaped_nomissing.csv")

#### 3.3 Groupby

In [ ]:
df = dropped.copy()

df.info()

In [ ]:
df['???'] = df['???'].astype('???')

In [ ]:
df.sample(4)

In [ ]:
# only now we can grouby

df.groupby(['country'])['gni_pc'].agg(['???'])

#### 3.4 Features

In [ ]:
df.describe()

In [218]:
# df['gni_bil'] = round(df['gni']/1_000_000_000, 3)
# df['pop_mil'] = round(df['gni']/1_000_000, 3)
# df['gni_bil_pc'] = round(df['gni_pc']/1_000_000_000, 3)
# df['prim_oos_pct'] = round(df['gni_pc']/1_000_000_000, 3)

Suppose you estimate that working-age population is roughly 60% of the total population. You can create a dependency ratio:

In [ ]:
df['primary_aged_total'] =
df['primary_aged_of_pop'] = 

# using appy

df['dependency'] = df.apply(
    lambda row: row['primary_out_school_total'] / (row['pop'] * 0.6), axis=1
)

df.sample(3)

In [220]:
# using a lambda function and mapping a dictionary

income_groups = {
    lambda x: x < 1045: 'low',
    lambda x: 1045 <= x < 4095: 'low_mid',
    lambda x: 4095 <= x < 12695: 'upp_mid',
    lambda x: x >= 12695: 'high'
}

df['income_group'] = df['gni_pc'].map(
    lambda x: next((v for k, v in income_groups.items() if k(x)), None)
)
df.income_group.value_counts()

#### 3.5 Extra

In [ ]:
df_highest_year = df.sort_values('???', ascending=False).drop_duplicates('???')
df_highest_year

In [ ]:
df_highest_year.boxplot(column='???')

In [ ]:
df_highest_year.gni_pc.nlargest(10)

In [ ]:
# show the box plot only for a given income group
df_highest_year.loc[???].boxplot(column='gni_pc')

In [ ]:
groups = ['high', 'upp_mid', 'low_mid', 'low']

# Create a figure with subplots
fig, axes = plt.subplots(1, len(groups), figsize=(12, 6))

# Loop through each group and create a boxplot in the corresponding subplot
for i, group in enumerate(groups):
    df_highest_year.loc[df_highest_year['income_group'] == ???].boxplot(column='gni_pc', ax=axes[???])
    axes[i].set_title(group)

# Adjust layout
plt.tight_layout()
plt.show()

In [ ]:
# compare
df_highest_year.plot.scatter(x='???', y='???')

In [ ]:
# compare
df_highest_year.

In [ ]:
# Create a figure with subplots
fig, axes = plt.subplots(1, len(groups), figsize=(12, 6))

# Loop through each group and create a boxplot in the corresponding subplot
for i, group in enumerate(groups):
    ???
    axes[i].set_title(group)

# Adjust layout
plt.tight_layout()
plt.show()

### 4. Background cleaning

In [ ]:
df_WB = pd.read_csv(cwd + '/data/WB_full.csv')
#df_meta = pd.read_csv(cwd + '/data/WB_metadata.csv')

df_WB.head()

In [233]:
# clean column names
cols_to_clean = df_WB.columns.tolist()
rename_dict = {col: col.split()[0] for col in cols_to_clean if '[YR' in col}
df_WB = df_WB.rename(columns=rename_dict)

The net enrollment rate excludes overage and underage students and more accurately captures the system's coverage and internal efficiency. Differences between the gross enrollment ratio and the net enrollment rate show the incidence of overage and underage enrollments.
https://databank.worldbank.org/metadataglossary/world-development-indicators/series/SE.PRE.ENRR

In [ ]:
df_WB['Series Name'].unique()

In [235]:
series_to_keep = ['Population, total',
                  'GNI, Atlas method (current US$)', 'GNI per capita, Atlas method (current US$)',
                  'Children out of school, primary',
                  'Children out of school (% of primary school age)'
                  ]

In [236]:
df_choice = df_WB.loc[df_WB['Series Name'].isin(series_to_keep)]

country_groups = [
    "AFE", "AFW", "ARB", "CSS", "CEB", "EAR", "EAS", "EAP", "TEA", "EMU", 
    "ECS", "ECA", "TEC", "EUU", "FCS", "HPC", "HIC", "IBD", "IBT", "IDB", 
    "IDX", "IDA", "LTE", "LCN", "LAC", "TLA", "LDC", "LMY", "LIC", "LMC", 
    "MEA", "MNA", "TMN", "MIC", "NAC", "INX", "OED", "OSS", "PSS", "PST", 
    "PRE", "SST", "SAS", "TSA", "SSF", "SSA", "TSS", "UMC"]

world = ["WLD"]

filtered_df = df_choice[~df_choice['Country Code'].isin(country_groups + world)]

# download data
#filtered_df.to_csv(cwd + '/data/WB_more_data.csv', index=False)

In [ ]:
filtered_df.sample(5)